[submodule "src/github.com/thoj/go-ircevent"]
	path = src/github.com/thoj/go-ircevent
	url = git://github.com/thoj/go-ircevent
[submodule "src/github.com/caius/gobot"]
	path = src/github.com/caius/gobot
	url = git://github.com/caius/gobot
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = git://github.com/jessevdk/go-flags
